@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');




@theme {
  --breakpoint-*: initial;
  --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 992px;
  --breakpoint-xl: 1170px;
  --font-poppins: "Poppins", sans-serif;
  --font-Inter: "Inter", sans-serif;
}

@utility container {
  @apply mx-auto max-w-292.5
}

.slides li {
  position: relative;
  cursor: pointer;
}

.slides li:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  height: 1px;
  background: #000;
  transition: 0.3s;
}

.slides li:hover:after {
  width: 100%;
}

.slick-dots ul li {
  height: 12px !important;
  width: 12px !important;
  border-radius: 50% !important;
  background-color: #999999e1;
}

.slick-dots ul li .slick-active {
  background-color: red ;
  border: 1px solid #fff;
  
}